@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;500;600;700;800&family=Staatliches&family=Work+Sans:wght@400;500;600;700;800&family=Yeseva+One&display=swap');

/* Common CSS */
body{
    margin: 0;
    padding: 0;
}

/* Navigation CSS */
.navigation{
    background: #fff9f3;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Work Sans';
    margin-right: 30px;
    font-size: 16px;
    color: #5a6e79;
    transition: 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #ffc178;
    font-weight: 600;
    text-decoration: underline;
    transition: 0.3s;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #ffc178;
    font-weight: 600;
    text-decoration: underline;
}
.btn-custom-design{
    background: #ffffff;
    color: #ffc180;
}

/* End Navigation Section  */
.hero{
    background-image: url("/img/hero-banner.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
   margin-top: 70px;
}

.hero-content h1{
    font-family: 'Montserrat';
    font-weight: 800;
    color: #ffc178;
    font-size: 40px;
}

.hero-content p{
    color: #5a6e79;
    font-family: 'works sans';
    font-weight: 400;
    font-size: 20px;
    margin: 10px 0px;
}

.custom-btn-design{
    background-color: #ffc178;
    padding: 13px 30px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'works sans';
}
.custom-btn-design:hover{
    background-color: #ffc150;;
}











/* Media Query */

@media only screen and (max-width: 400px) {
    .hero{
        background-image: url("/img/hero-banner.png");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  }